[Match]
Name=en*

[Link]
RequiredForOnline=routable
MACAddressPolicy=random

[Network]
DHCP=yes
DNS=127.0.0.1:5353
Domains=~.
IPv6PrivacyExtensions=yes

[DHCPv4]
UseDNS=false
Anonymize=yes

[DHCPv6]
UseDNS=false
Anonymize=yes

[IPv6AcceptRA]
UseDNS=false
